/Roer/nbproject/private/
/Space/build/
/Plataforma/build/
/Cube/build/
/Excepciones/build/
/Colecciones/build/
/Juguete/build/
/LD27/build/
/Genérica/build/
/WizardCourse/build/
/Sockets/build/
/JavaFX/nbproject/private/
/BattleShip/nbproject/private/
/BattleShip/build/
/BattleShip/dist/
/Roer/build/
/UI/build/
/Adventure/build/
/Hilos/build/
/geometria game/build/
/Geometria/nbproject/private/
/Geometria/build/
/Colecciones/dist/
/cafetera/nbproject/private/
/cafetera/build/