/Roer/nbproject/private/
/Space/build/
/Plataforma/build/
/Cube/build/
/Excepciones/build/
/Colecciones/build/
/Juguete/build/
/LD27/build/
/Genérica/build/
/WizardCourse/build/
/Sockets/build/
/JavaFX/nbproject/private/
/BattleShip/nbproject/private/
/BattleShip/build/
/BattleShip/dist/
/Roer/build/
/UI/build/
/Adventure/build/
/Hilos/build/
/geometria game/build/
/Geometria/nbproject/private/
/Geometria/build/
/Colecciones/dist/
/cafetera/nbproject/private/
/cafetera/build/
/Regex/nbproject/private/
/Regex/build/
/JDBC/nbproject/private/
/JDBC/build/
/Snake/nbproject/private/
/Snake/build/
/BrickBreaker/nbproject/private/
/BrickBreaker/build/
/Book/nbproject/private/
/Poo/nbproject/private/
/Poo/build/
/Ferreteria/nbproject/private/
/Adventure/dist/
/UI/dist/
/Juguete/dist/
/JavaDesdeCero/build/
/Book/build/
/Cube/dist/
/Integradora/build/
/JavaDesdeCero/dist/
/Gato/nbproject/private/
/Gato/build/
/Juguete/nbproject/private/
/Dialogos/build/